openapi: 3.2.0
info:
  title: Planet Insights Platform Data - Search API
  description: 'Planet Labs operates the largest commercial Earth observation

    constellation.'
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.planet.com
  description: Planet Insights Platform
security:
- basicAuth: []
- apiKeyAuth: []
tags:
- name: Data - Search
  description: Catalog search and saved searches.
paths:
  /data/v1/quick-search:
    post:
      tags:
      - Data - Search
      summary: Execute a structured search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results.
      operationId: postDataV1QuickSearch
      x-operation-id-source: derived
  /data/v1/searches:
    get:
      tags:
      - Data - Search
      summary: List saved searches
      responses:
        '200':
          description: Saved searches.
      operationId: getDataV1Searches
      x-operation-id-source: derived
    post:
      tags:
      - Data - Search
      summary: Create a saved search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '201':
          description: Saved search created.
      operationId: postDataV1Searches
      x-operation-id-source: derived
  /data/v1/searches/{search_id}:
    parameters:
    - $ref: '#/components/parameters/SearchId'
    get:
      tags:
      - Data - Search
      summary: Get saved search details
      responses:
        '200':
          description: Saved search.
      operationId: getDataV1SearchesBySearchId
      x-operation-id-source: derived
    put:
      tags:
      - Data - Search
      summary: Update saved search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Updated saved search.
      operationId: putDataV1SearchesBySearchId
      x-operation-id-source: derived
    delete:
      tags:
      - Data - Search
      summary: Delete saved search
      responses:
        '204':
          description: Deleted.
      operationId: deleteDataV1SearchesBySearchId
      x-operation-id-source: derived
  /data/v1/searches/{search_id}/results:
    parameters:
    - $ref: '#/components/parameters/SearchId'
    get:
      tags:
      - Data - Search
      summary: Run a saved search
      responses:
        '200':
          description: Search results.
      operationId: getDataV1SearchesBySearchIdResults
      x-operation-id-source: derived
components:
  schemas:
    SearchRequest:
      type: object
      properties:
        name:
          type: string
        item_types:
          type: array
          items:
            type: string
        filter:
          type: object
          additionalProperties: true
  parameters:
    SearchId:
      name: search_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic with the Planet API key as the username and an empty

        password.

        '
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Alternative API key/token header.
