openapi: 3.1.0
info:
  title: Planet Insights Platform Data - Item Types Subscriptions API
  description: 'Planet Labs operates the largest commercial Earth observation

    constellation. This specification covers the public REST surfaces of the

    Planet Insights Platform: the Data API (catalog search and asset

    metadata), the Orders API (bundle preparation and delivery), and the

    Subscriptions API (standing AOI feeds). All APIs sit under

    api.planet.com and authenticate with an API key over HTTP Basic

    (the API key is supplied as the username, with an empty password) or

    via a Bearer access token where supported.

    '
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.planet.com
  description: Planet Insights Platform
security:
- basicAuth: []
- apiKeyAuth: []
tags:
- name: Subscriptions
  description: Standing area-of-interest delivery feeds.
paths:
  /subscriptions/v1:
    get:
      tags:
      - Subscriptions
      summary: List subscriptions
      responses:
        '200':
          description: Subscription collection.
    post:
      tags:
      - Subscriptions
      summary: Create a subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '201':
          description: Subscription created.
  /subscriptions/v1/bulk:
    post:
      tags:
      - Subscriptions
      summary: Create multiple subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '202':
          description: Bulk create accepted.
  /subscriptions/v1/summary:
    get:
      tags:
      - Subscriptions
      summary: Summary of all subscriptions
      responses:
        '200':
          description: Summary.
  /subscriptions/v1/{subscriptionId}:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags:
      - Subscriptions
      summary: Get a subscription
      responses:
        '200':
          description: Subscription.
    patch:
      tags:
      - Subscriptions
      summary: Patch a subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Patched.
    put:
      tags:
      - Subscriptions
      summary: Update a subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '200':
          description: Updated.
  /subscriptions/v1/{subscriptionId}/cancel:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Cancel a subscription
      responses:
        '200':
          description: Cancelled.
  /subscriptions/v1/{subscriptionId}/suspend:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Suspend a subscription
      responses:
        '200':
          description: Suspended.
  /subscriptions/v1/{subscriptionId}/reactivate:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    post:
      tags:
      - Subscriptions
      summary: Reactivate a subscription
      responses:
        '200':
          description: Reactivated.
  /subscriptions/v1/{subscriptionId}/results:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags:
      - Subscriptions
      summary: Get subscription results
      responses:
        '200':
          description: Results.
  /subscriptions/v1/{subscriptionId}/summary:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    get:
      tags:
      - Subscriptions
      summary: Get subscription results summary
      responses:
        '200':
          description: Results summary.
components:
  parameters:
    SubscriptionId:
      name: subscriptionId
      in: path
      required: true
      schema:
        type: string
  schemas:
    SubscriptionRequest:
      type: object
      properties:
        name:
          type: string
        source:
          type: object
          additionalProperties: true
        tools:
          type: array
          items:
            type: object
            additionalProperties: true
        delivery:
          type: object
          additionalProperties: true
        notifications:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic with the Planet API key as the username and an empty

        password.

        '
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Alternative API key/token header.
