openapi: 3.2.0
info:
  title: Planet Insights Platform Data - Item Types API
  description: 'Planet Labs operates the largest commercial Earth observation

    constellation.'
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.planet.com
  description: Planet Insights Platform
security:
- basicAuth: []
- apiKeyAuth: []
tags:
- name: Data - Item Types
  description: Item type and asset type metadata.
paths:
  /data/v1/asset-types:
    get:
      tags:
      - Data - Item Types
      summary: List all asset types
      responses:
        '200':
          description: Asset type collection.
      operationId: getDataV1AssetTypes
      x-operation-id-source: derived
  /data/v1/asset-types/{asset_type_id}:
    parameters:
    - $ref: '#/components/parameters/AssetTypeId'
    get:
      tags:
      - Data - Item Types
      summary: Get an asset type
      responses:
        '200':
          description: Asset type.
      operationId: getDataV1AssetTypesByAssetTypeId
      x-operation-id-source: derived
  /data/v1/item-types:
    get:
      tags:
      - Data - Item Types
      summary: List all item types
      responses:
        '200':
          description: Item type collection.
      operationId: getDataV1ItemTypes
      x-operation-id-source: derived
  /data/v1/item-types/{item_type_id}:
    parameters:
    - $ref: '#/components/parameters/ItemTypeId'
    get:
      tags:
      - Data - Item Types
      summary: Get an item type
      responses:
        '200':
          description: Item type.
      operationId: getDataV1ItemTypesByItemTypeId
      x-operation-id-source: derived
components:
  parameters:
    AssetTypeId:
      name: asset_type_id
      in: path
      required: true
      schema:
        type: string
    ItemTypeId:
      name: item_type_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic with the Planet API key as the username and an empty

        password.

        '
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Alternative API key/token header.
